{{ dump(formToShow) }}

{% if formToShow == 'add' %}
    {{ form_start(form ,{'method' : 'post','name' : 'produitAdd'}) }}
{% else %}
    {{ form_start(form ,{'method' : 'post','name' : 'produitEdit'}) }}
{% endif %}

        {{ form_errors(form) }}
<div class="row">
    <div class="col-md-4">
        {{ form_label(form.Titre) }}
        {{ form_widget(form.Titre) }}
        {{ form_errors(form.Titre) }}
    </div>
    <div class="col-md-4">
        {{ form_label(form.Description) }}
        {{ form_widget(form.Description) }}
        {{ form_errors(form.Description) }}
    </div>
    <div class="col-md-4">
        {{ form_label(form.PriceTTC) }}
        {{ form_widget(form.PriceTTC) }}
        {{ form_errors(form.PriceTTC) }}
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        {{ form_label(form.Poids) }}
        {{ form_widget(form.Poids) }}
        {{ form_errors(form.Poids) }}
    </div>
    <div class="col-md-4">
        {{ form_label(form.Couleur) }}
        {{ form_widget(form.Couleur) }}
        {{ form_errors(form.Couleur) }}
    </div>
    <div class="col-md-4">
        {{ form_label(form.StockQte) }}
        {{ form_widget(form.StockQte) }}
        {{ form_errors(form.StockQte) }}
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        {{ form_label(form.Actif) }}
        {{ form_widget(form.Actif) }}
        {{ form_errors(form.Actif) }}
    </div>
    <div class="col-md-4">
        {{ form_label(form.DateCreated) }}
        {{ form_widget(form.DateCreated) }}
        {{ form_errors(form.DateCreated) }}
    </div>
    <div class="col-md-4">
        {{ form_label(form.Marque) }}
        {{ form_widget(form.Marque) }}
        {{ form_errors(form.Marque) }}
    </div>
    <div class="col-12 mt-3">
        {{ form_row(form.imagePath) }}
    </div>
</div>

{{ form_rest(form) }}
<button class="btn btn-primary">Valider</button>
{{ form_end(form) }}