{% extends 'base.html.twig' %}

{% block title %}Marques{% endblock %}

{% block body %}
    <h1>Marques</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marque.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ marque.Nom }}</td>
            </tr>
        </tbody>
    </table>
    <div class="ml-3">
    <a href="{{ path('marques_index') }}">Back to list</a></br>

    <a href="{{ path('marques_edit', {'id': marque.id}) }}">Edit</a></br>

    <a href="{{ path('marques_show_produits',{'id': marque.id}) }}">Voir tous les produits</a>
    </div>
    {{ include('marques/_delete_form.html.twig') }}
{% endblock %}
